body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/background.jpg");
}

.padding {
    padding: 10px 10px 10px 10px !important;
}

.margin {
    margin: 10px 10px 10px 10px !important;
}


.shadowed-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    background: rgba(255, 255, 255, 0.8);
}

.shadowed-card:hover {
    box-shadow: 0 8px 16px 0 #ffffff33;
}

.spinner-border {
    width: 15rem;
    height: 15rem;
}

.btn-standard-width {
    min-width: 120px;
}